$main_color:white;
$font: Verdana;
$fontfamily: PT Sans;

$width_div: 100%;
$height_div: 350px;

$width_div_positions: 25%;
$height_div_positions: 400px;
$height_div_positions_global:500px;

$width_logo:400px;
$height_logo:150px;
$width_icon:150px;
$height_icon:150px;


$height_subcontainer:30%;
$subcontainercolors: #ebe0eb, #fd9898,#5c5c5c , #ececaf;

$title_font: Courier, monospace;
$subtitle_font: "Consolas", monospace;